* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.testimonial-container {
    width: 400px;
    height: 200px;
    overflow: hidden;
    position: relative;
}

.testimonial-card {
    width: 400px;
    height: 200px;
    background-color: aqua;
    position: absolute;
    transition: transform 1s ease;
}

.testimonial-card:nth-child(1) {
    left: 0;
}

.testimonial-card:nth-child(2) {
    left: 100%;
}

.testimonial-card:nth-child(3) {
    left: 200%;
}

.testimonial-card:nth-child(4) {
    left: 300%;
}

.testimonial-card .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.testimonial-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.testimonial-card p {
    text-align: center;
    font-size: 16px;
    margin: 0; /* Remove default margin */
}

.dot-container {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 200px;
    width: 100%;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.dot.active {
    background-color: #555;
}



